body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.nav a{
	color : white!important;
	font-size: 1.2em!important;
	font-weight: 700;
}

.navbar {
	background-color : pink;
}

.navbar li:hover{
	background-color : black;
}

.primary-btn {
	background-color : black;
	color : white;
}

.primary-btn:hover{
	color : white;
	font-weight: bold;
}

.table-header{
	background-color: pink;
	color : white;
}


.article hr{
	border: none;
    height: 1px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.article p{
	text-align: justify;
	margin-top: 30px;
	font-family: 'Open Sans Dark',sans-serif;
	font-weight: normal;
	max-width: 1040px;
	color: black;
	margin-left: 50px;
}

.article h2{
	text-align: left;
	color: black;
	margin-bottom: 30px;
	margin-top: 30px;
}
